{% schema %}
{
  "name": "Carousel",
  "settings": [],
  "presets": [
    {
      "name": "Carousel",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}

<div class="bg-carousel">
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="slider-container">
    <div class="quick-add no-js-hidden button-container">
      <product-form>
        <form
          method="post"
          action="/cart/add"
          id="quick-add-template--20635886092591__product-grid8841119891759"
          accept-charset="UTF-8"
          class="form"
          enctype="multipart/form-data"
          novalidate="novalidate"
          data-type="add-to-cart-form"
        >
          <input type="hidden" name="form_type" value="product">
          <input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="id" value="47000953913630">
          <button
            id="quick-add-template--20635886092591__product-grid8841119891759-submit"
            type="submit"
            name="add"
            class="quick-add__submit button button--full-width button--secondary add-to-cart"
            aria-haspopup="dialog"
            aria-labelledby="quick-add-template--20635886092591__product-grid8841119891759-submit title-template--20635886092591__product-grid-8841119891759"
            aria-live="polite"
            data-sold-out-message="true"
          >
            <span>Add to cart </span>
            <span class="sold-out-message hidden"> Sold out </span>
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        </form>
      </product-form>
    </div>
    <button class="slider-button left" id="leftButton"><img src="{{ 'arrow.png' | asset_url }}"></button>
    <div class="circular-slider">
      <ul class="wrapper flex-center">
        <li class="slides" style="--img-no:1;"><img src="{{ 'FRONT_CHOC.png' | asset_url }}"></li>
        <li class="slides" style="--img-no:2;"><img class="active" src="{{ 'FRONT_PAN.png' | asset_url }}"></li>
        <li class="slides" style="--img-no:3;"><img src="{{ 'Fresh Milk Bottle.png' | asset_url }}"></li>
        <li class="slides" style="--img-no:4;"><img src="{{ 'FRONT_STRAW.png' | asset_url }}"></li>
        <li class="slides" style="--img-no:5;"><img src="{{ 'Fresh Milk Bottle.png' | asset_url }}"></li>
        <li class="slides" style="--img-no:6;"><img src="{{ 'FRONT_STRAW.png' | asset_url }}"></li>
      </ul>
    </div>
    <button class="slider-button right" id="rightButton"><img src="{{ 'arrow.png' | asset_url }}"></button>
  </div>
</div>

<link rel="stylesheet" href="{{ 'carousel.css' | asset_url }}">
<script src="{{ 'carousel.js' | asset_url }}"></script>
<script
  src="//the-good-milk-ph.myshopify.com/cdn/shop/t/3/assets/quick-add.js?v=123988568102861521811692339528"
  defer="defer"
></script>
<script
  src="//the-good-milk-ph.myshopify.com/cdn/shop/t/3/assets/product-form.js?v=24251430349608279561692907983"
  defer="defer"
></script>
