{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='color-{{ section.settings.color_scheme }} gradient'>
  <div class='form-column'>
    <div class='column-one contact page-width page-width--narrow section-{{ section.id }}-padding'>
      {%- if section.settings.heading != blank -%}
        <h2 class='title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
          {{ section.settings.heading }}
        </h2>
      {%- else -%}
        <h2 class='visually-hidden'>{{ 'templates.contact.form.title' | t }}</h2>
      {%- endif -%}
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2 class='form-status form-status-list form__message' tabindex='-1' autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class='form__message'>
            <h2 class='form-status caption-large text-body' role='alert' tabindex='-1' autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class='form-status-list caption-large' role='list'>
            <li>
              <a href='#ContactForm-email' class='link'>
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class='field full-width-field '>
          <select
            class='field__input'
            id='ContactForm-subject'
            name='contact[{{ 'templates.contact.form.subject' | t }}]'
            placeholder='{{ 'templates.contact.form.subject' | t }}'
          >
            <option value='General Inquiry'>General Inquiry</option>
            <option value='Shipping Updates'>Shipping Updates</option>
            <option value='Partnership'>Partnership</option>
            <!-- Add more options as needed -->
          </select>
          <label class='field__label' for='ContactForm-subject'>{{ 'templates.contact.form.subject' | t }}</label>
        </div>
        <div class='contact__fields'>
          <div class='field'>
            <input
              class='field__input'
              autocomplete='name'
              type='text'
              id='ContactForm-name'
              name='contact[{{ 'templates.contact.form.name' | t }}]'
              value='{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}'
              placeholder='{{ 'templates.contact.form.name' | t }}'
            >
            <label class='field__label' for='ContactForm-name'>{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class='field field--with-error'>
            <input
              autocomplete='email'
              type='email'
              id='ContactForm-email'
              class='field__input'
              name='contact[email]'
              spellcheck='false'
              autocapitalize='off'
              value='{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}'
              aria-required='true'
              {% if form.errors contains 'email' %}
                aria-invalid='true'
                aria-describedby='ContactForm-email-error'
              {% endif %}
              placeholder='{{ 'templates.contact.form.email' | t }}'
            >
            <label class='field__label' for='ContactForm-email'>
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden='true'>*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class='contact__field-error' id='ContactForm-email-error'>
                <span class='visually-hidden'>{{ 'accessibility.error' | t }}</span>
                <span class='form__message'>
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class='field'>
          <input
            type='tel'
            id='ContactForm-phone'
            class='field__input'
            autocomplete='tel'
            name='contact[{{ 'templates.contact.form.phone' | t }}]'
            pattern='[0-9\-]*'
            value='{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}'
            placeholder='{{ 'templates.contact.form.phone' | t }}'
          >
          <label class='field__label' for='ContactForm-phone'>{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class='field'>
          <textarea
            rows='10'
            id='ContactForm-body'
            class='text-area field__input'
            name='contact[{{ 'templates.contact.form.comment' | t }}]'
            placeholder='{{ 'templates.contact.form.comment' | t }}'
          >
            {{- form.body -}}
          </textarea>
          <label class='form__label field__label' for='ContactForm-body'>
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div class='contact__button'>
          <button type='submit' class='button'>Send Message</button>
        </div>
      {%- endform -%}
    </div>
    <div class='column-two scroll-trigger animate--slide-in'>
      <div class='email-socials'>
        <h3 class='label'>Contact</h3>
        <div class='email-contact'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='31' viewBox='0 0 39 31' fill='none'>
            <path d="M3.825 30.4038C2.77313 30.4038 1.87234 30.0314 1.12264 29.2865C0.37294 28.5416 -0.00127175 27.6472 3.24703e-06 26.6034V3.80048C3.24703e-06 2.75535 0.374853 1.86034 1.12455 1.11544C1.87425 0.37055 2.7744 -0.0012636 3.825 3.22622e-06H34.425C35.4769 3.22622e-06 36.3777 0.37245 37.1274 1.11734C37.8771 1.86224 38.2513 2.75662 38.25 3.80048V26.6034C38.25 27.6485 37.8751 28.5435 37.1255 29.2884C36.3757 30.0333 35.4756 30.4051 34.425 30.4038H3.825ZM19.125 17.1022L3.825 7.60096V26.6034H34.425V7.60096L19.125 17.1022ZM19.125 13.3017L34.425 3.80048H3.825L19.125 13.3017ZM3.825 7.60096V3.80048V26.6034V7.60096Z" fill="#323232"/>
          </svg>
          <p>hello@thegoodmilk.ph</p>
        </div>
      </div>
      <div class='address-container'>
        <h3 class='label'>Address</h3>
        <div class='email-contact'>
          <svg xmlns='http://www.w3.org/2000/svg' width='40' height='44' viewBox='0 0 40 44' fill='none'>
            <path d="M28.3566 19.2505C28.3566 21.4385 27.4762 23.5369 25.909 25.084C24.3419 26.6312 22.2163 27.5003 20 27.5003C17.7837 27.5003 15.6581 26.6312 14.091 25.084C12.5238 23.5369 11.6434 21.4385 11.6434 19.2505C11.6434 17.0625 12.5238 14.9641 14.091 13.417C15.6581 11.8699 17.7837 11.0007 20 11.0007C22.2163 11.0007 24.3419 11.8699 25.909 13.417C27.4762 14.9641 28.3566 17.0625 28.3566 19.2505ZM25.5711 19.2505C25.5711 17.7919 24.9841 16.3929 23.9394 15.3615C22.8946 14.3301 21.4775 13.7506 20 13.7506C18.5225 13.7506 17.1054 14.3301 16.0606 15.3615C15.0159 16.3929 14.4289 17.7919 14.4289 19.2505C14.4289 20.7092 15.0159 22.1081 16.0606 23.1395C17.1054 24.1709 18.5225 24.7504 20 24.7504C21.4775 24.7504 22.8946 24.1709 23.9394 23.1395C24.9841 22.1081 25.5711 20.7092 25.5711 19.2505ZM33.7884 32.8765C37.4456 29.2642 39.5 24.366 39.5 19.2588C39.5 14.1515 37.4456 9.25334 33.7884 5.64105C31.9781 3.8527 29.8286 2.43403 27.4628 1.46611C25.0969 0.498193 22.561 0 20 0C17.439 0 14.9031 0.498193 12.5372 1.46611C10.1714 2.43403 8.02185 3.8527 6.21157 5.64105C2.55441 9.25334 0.5 14.1515 0.5 19.2588C0.5 24.366 2.55441 29.2642 6.21157 32.8765L10.4484 36.9986L16.1392 42.4573L16.5097 42.7818C18.6685 44.5087 21.8301 44.3987 23.8635 42.4573L30.6463 35.9399L33.7884 32.8765ZM8.17538 7.57976C9.72796 6.04634 11.5714 4.82992 13.6003 4C15.6292 3.17007 17.8038 2.74291 20 2.74291C22.1962 2.74291 24.3708 3.17007 26.3997 4C28.4286 4.82992 30.272 6.04634 31.8246 7.57976C34.874 10.5922 36.6273 14.6507 36.7186 18.9086C36.81 23.1664 35.2323 27.2946 32.3149 30.4318L31.8246 30.9378L28.1449 34.5237L21.9332 40.4856L21.6713 40.7056C21.1897 41.0638 20.603 41.2576 20 41.2576C19.397 41.2576 18.8103 41.0638 18.3287 40.7056L18.0696 40.4856L9.76871 32.497L8.17538 30.9378L7.68512 30.4345C4.76768 27.2973 3.19003 23.1691 3.28138 18.9113C3.37273 14.6535 5.126 10.5922 8.17538 7.57976Z" fill="black"/>
          </svg>
          <p>
            2nd Floor, Unit 3, <br>
            59 Karuhatan Rd Valenzuela City
          </p>
        </div>
      </div>
      <div class='email-socials'>
        <h3 class='label'>Socials</h3>
        <a href='https://instagram.com/thegoodmilkph?igshid=MzRlODBiNWFlZA==' class='ig-icon icon-socials'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 39 39' fill='none'>
            <g clip-path="url(#clip0_77_4550)">
              <path d="M19.1406 13.3984C17.6177 13.3984 16.1571 14.0034 15.0802 15.0803C14.0034 16.1571 13.3984 17.6177 13.3984 19.1406C13.3984 20.6635 14.0034 22.124 15.0802 23.2009C16.1571 24.2778 17.6177 24.8828 19.1406 24.8828C20.6635 24.8828 22.124 24.2778 23.2009 23.2009C24.2778 22.124 24.8828 20.6635 24.8828 19.1406C24.8828 17.6177 24.2778 16.1571 23.2009 15.0803C22.124 14.0034 20.6635 13.3984 19.1406 13.3984ZM19.1406 9.57029C21.6788 9.57029 24.113 10.5786 25.9078 12.3734C27.7026 14.1681 28.7109 16.6024 28.7109 19.1406C28.7109 21.6788 27.7026 24.113 25.9078 25.9078C24.113 27.7026 21.6788 28.7109 19.1406 28.7109C16.6024 28.7109 14.1681 27.7026 12.3734 25.9078C10.5786 24.113 9.57029 21.6788 9.57029 19.1406C9.57029 16.6024 10.5786 14.1681 12.3734 12.3734C14.1681 10.5786 16.6024 9.57029 19.1406 9.57029ZM31.582 9.09178C31.582 9.72633 31.3299 10.3349 30.8812 10.7836C30.4325 11.2323 29.8239 11.4844 29.1894 11.4844C28.5548 11.4844 27.9463 11.2323 27.4976 10.7836C27.0489 10.3349 26.7968 9.72633 26.7968 9.09178C26.7968 8.45723 27.0489 7.84867 27.4976 7.39997C27.9463 6.95128 28.5548 6.6992 29.1894 6.6992C29.8239 6.6992 30.4325 6.95128 30.8812 7.39997C31.3299 7.84867 31.582 8.45723 31.582 9.09178ZM19.1406 3.82812C14.4052 3.82812 13.6319 3.84152 11.4288 3.93913C9.92822 4.00995 8.92142 4.21093 7.98736 4.5746C7.20569 4.86159 6.49902 5.32158 5.92018 5.92018C5.32109 6.49899 4.86047 7.20563 4.57268 7.98737C4.20901 8.92525 4.00804 9.93013 3.93913 11.4288C3.8396 13.542 3.8262 14.2808 3.8262 19.1406C3.8262 23.8779 3.8396 24.6492 3.93722 26.8523C4.00804 28.351 4.20901 29.3597 4.57077 30.2919C4.89616 31.1245 5.27897 31.7236 5.91444 32.3591C6.55948 33.0022 7.15858 33.3869 7.98162 33.7047C8.92717 34.0702 9.93396 34.2731 11.4269 34.342C13.54 34.4416 14.2789 34.453 19.1387 34.453C23.876 34.453 24.6473 34.4397 26.8504 34.342C28.3472 34.2712 29.354 34.0702 30.29 33.7085C31.0709 33.4201 31.7773 32.9603 32.3572 32.3629C33.0022 31.7198 33.3869 31.1207 33.7047 30.2957C34.0683 29.354 34.2712 28.3472 34.3401 26.8504C34.4396 24.7392 34.4511 23.9985 34.4511 19.1406C34.4511 14.4052 34.4377 13.6319 34.3401 11.4288C34.2693 9.93205 34.0664 8.92143 33.7047 7.98737C33.4161 7.20646 32.9563 6.50011 32.3591 5.92018C31.7805 5.32079 31.0738 4.86011 30.2919 4.57269C29.354 4.20901 28.3472 4.00804 26.8504 3.93913C24.7392 3.8396 24.0023 3.82812 19.1406 3.82812ZM19.1406 0C24.3411 0 24.9899 0.0191405 27.0322 0.114843C29.0688 0.210546 30.4584 0.530194 31.6777 1.00488C32.9409 1.49105 34.0052 2.14949 35.0694 3.21179C36.0427 4.16862 36.7958 5.32604 37.2763 6.6035C37.7491 7.82276 38.0706 9.21236 38.1663 11.2508C38.2563 13.2912 38.2812 13.9401 38.2812 19.1406C38.2812 24.3411 38.262 24.9899 38.1663 27.0303C38.0706 29.0688 37.7491 30.4565 37.2763 31.6777C36.7971 32.9558 36.0438 34.1135 35.0694 35.0694C34.1123 36.0423 32.9549 36.7954 31.6777 37.2763C30.4584 37.7491 29.0688 38.0706 27.0322 38.1663C24.9899 38.2563 24.3411 38.2812 19.1406 38.2812C13.9401 38.2812 13.2912 38.262 11.2489 38.1663C9.21236 38.0706 7.82467 37.7491 6.6035 37.2763C5.32553 36.7968 4.16791 36.0435 3.21179 35.0694C2.23836 34.1127 1.48523 32.9552 1.00488 31.6777C0.530194 30.4584 0.210547 29.0688 0.114844 27.0303C0.022969 24.9899 0 24.3411 0 19.1406C0 13.9401 0.0191409 13.2912 0.114844 11.2508C0.210547 9.21045 0.530194 7.82467 1.00488 6.6035C1.48385 5.32525 2.23716 4.16752 3.21179 3.21179C4.16819 2.23798 5.32573 1.48479 6.6035 1.00488C7.82276 0.530194 9.21045 0.210546 11.2489 0.114843C13.2912 0.0248827 13.9401 0 19.1406 0Z" fill="#323232"/>
            </g>
            <defs>
              <clipPath id="clip0_77_4550">
                <rect width="39" height="39" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <p>@thegoodmilkph</p>
        </a>
        <a href='https://www.facebook.com/profile.php?id=61551715617731&mibextid=LQQJ4d' class='fb-icon icon-socials'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 39 39' fill='none'>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.6298 38.3134V23.489H31.6064L32.3509 17.7124H26.6279V14.024C26.6279 12.3511 27.093 11.2103 29.4933 11.2103H32.5519V6.04237C31.0706 5.88473 29.5818 5.80806 28.0922 5.81268C23.6822 5.81268 20.6637 8.50576 20.6637 13.4498V17.7124H15.6718V23.489H20.6618V38.3134H2.4725C1.30492 38.3134 0.359375 37.3678 0.359375 36.2003V2.14535C0.359375 0.977772 1.30492 0.0322266 2.4725 0.0322266H36.5274C37.695 0.0322266 38.6405 0.977772 38.6405 2.14535V36.2003C38.6405 37.3678 37.695 38.3134 36.5274 38.3134H26.6298Z" fill="#323232"/>
          </svg>
          <p>The Good Milk</p>
        </a>
        <a href='https://www.tiktok.com/@thegoodmilkph?_t=8g2TLSLXOjp&_r=1' class='tiktok-icon icon-socials'>
          <svg xmlns='http://www.w3.org/2000/svg' width='31' height='36' viewBox='0 0 31 36' fill='none'>
            <g clip-path="url(#clip0_77_4552)">
              <path d="M23.8109 5.46014C22.5025 3.96646 21.7814 2.04821 21.782 0.0625H15.8675V23.7968C15.8219 25.0812 15.2797 26.2978 14.355 27.1903C13.4303 28.0829 12.1953 28.5818 10.9101 28.582C8.19217 28.582 5.93358 26.3617 5.93358 23.6054C5.93358 20.3132 9.11091 17.8441 12.384 18.8586V12.8101C5.78045 11.9297 0 17.0593 0 23.6054C0 29.9792 5.2828 34.5155 10.891 34.5155C16.9011 34.5155 21.782 29.6347 21.782 23.6054V11.566C24.1803 13.2884 27.0597 14.2125 30.0124 14.2074V8.29295C30.0124 8.29295 26.414 8.46522 23.8109 5.46014Z" fill="#323232"/>
            </g>
            <defs>
              <clipPath id="clip0_77_4552">
                <rect width="30.75" height="35.25" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <p>Tiktok</p>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
