{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class='color-{{ section.settings.color_scheme }} gradient'>
  <div class='form-column'>
    <div class='column-one contact page-width page-width--narrow section-{{ section.id }}-padding'>
      {%- if section.settings.heading != blank -%}
        <h2 class='title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
          {{ section.settings.heading }}
        </h2>
      {%- else -%}
        <h2 class='visually-hidden'>{{ 'templates.contact.form.title' | t }}</h2>
      {%- endif -%}
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2 class='form-status form-status-list form__message' tabindex='-1' autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class='form__message'>
            <h2 class='form-status caption-large text-body' role='alert' tabindex='-1' autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class='form-status-list caption-large' role='list'>
            <li>
              <a href='#ContactForm-email' class='link'>
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class='field full-width-field '>
          <select
            class='field__input'
            id='ContactForm-subject'
            name='contact[{{ 'templates.contact.form.subject' | t }}]'
            placeholder='{{ 'templates.contact.form.subject' | t }}'
          >
            <option value='General Inquiry'>General Inquiry</option>
            <option value='Shipping Updates'>Shipping Updates</option>
            <option value='Partnership'>Partnership</option>
            <!-- Add more options as needed -->
          </select>
          <label class='field__label' for='ContactForm-subject'>{{ 'templates.contact.form.subject' | t }}</label>
        </div>
        <div class='contact__fields'>
          <div class='field'>
            <input
              class='field__input'
              autocomplete='name'
              type='text'
              id='ContactForm-name'
              name='contact[{{ 'templates.contact.form.name' | t }}]'
              value='{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}'
              placeholder='{{ 'templates.contact.form.name' | t }}'
            >
            <label class='field__label' for='ContactForm-name'>{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class='field field--with-error'>
            <input
              autocomplete='email'
              type='email'
              id='ContactForm-email'
              class='field__input'
              name='contact[email]'
              spellcheck='false'
              autocapitalize='off'
              value='{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}'
              aria-required='true'
              {% if form.errors contains 'email' %}
                aria-invalid='true'
                aria-describedby='ContactForm-email-error'
              {% endif %}
              placeholder='{{ 'templates.contact.form.email' | t }}'
            >
            <label class='field__label' for='ContactForm-email'>
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden='true'>*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class='contact__field-error' id='ContactForm-email-error'>
                <span class='visually-hidden'>{{ 'accessibility.error' | t }}</span>
                <span class='form__message'>
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class='field'>
          <input
            type='tel'
            id='ContactForm-phone'
            class='field__input'
            autocomplete='tel'
            name='contact[{{ 'templates.contact.form.phone' | t }}]'
            pattern='[0-9\-]*'
            value='{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}'
            placeholder='{{ 'templates.contact.form.phone' | t }}'
          >
          <label class='field__label' for='ContactForm-phone'>{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class='field'>
          <textarea
            rows='10'
            id='ContactForm-body'
            class='text-area field__input'
            name='contact[{{ 'templates.contact.form.comment' | t }}]'
            placeholder='{{ 'templates.contact.form.comment' | t }}'
          >
            {{- form.body -}}
          </textarea>
          <label class='form__label field__label' for='ContactForm-body'>
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div class='contact__button'>
          <button type='submit' class='button'>Send Message</button>
        </div>
      {%- endform -%}
    </div>
    <div class='column-two scroll-trigger animate--slide-in'>
      <div class='email-socials'>
        <h3 class='label'>Contact</h3>
        <div class='email-contact'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='31' viewBox='0 0 39 31' fill='none'>
            <path d="M3.825 30.4038C2.77313 30.4038 1.87234 30.0314 1.12264 29.2865C0.37294 28.5416 -0.00127175 27.6472 3.24703e-06 26.6034V3.80048C3.24703e-06 2.75535 0.374853 1.86034 1.12455 1.11544C1.87425 0.37055 2.7744 -0.0012636 3.825 3.22622e-06H34.425C35.4769 3.22622e-06 36.3777 0.37245 37.1274 1.11734C37.8771 1.86224 38.2513 2.75662 38.25 3.80048V26.6034C38.25 27.6485 37.8751 28.5435 37.1255 29.2884C36.3757 30.0333 35.4756 30.4051 34.425 30.4038H3.825ZM19.125 17.1022L3.825 7.60096V26.6034H34.425V7.60096L19.125 17.1022ZM19.125 13.3017L34.425 3.80048H3.825L19.125 13.3017ZM3.825 7.60096V3.80048V26.6034V7.60096Z" fill="#323232"/>
          </svg>
          <p>hello@thegoodmilk.ph</p>
        </div>
      </div>
      <div class='address-container'>
        <h3 class='label'>Address</h3>
        <div class='email-contact'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='44' viewBox='0 0 39 44' fill='none'>
            <path d="M27.1602 19.1735C27.1602 21.3068 26.3018 23.3528 24.7738 24.8612C23.2458 26.3697 21.1734 27.2171 19.0125 27.2171C16.8516 27.2171 14.7792 26.3697 13.2512 24.8612C11.7232 23.3528 10.8648 21.3068 10.8648 19.1735C10.8648 17.0403 11.7232 14.9943 13.2512 13.4859C14.7792 11.9774 16.8516 11.13 19.0125 11.13C21.1734 11.13 23.2458 11.9774 24.7738 13.4859C26.3018 14.9943 27.1602 17.0403 27.1602 19.1735ZM24.4443 19.1735C24.4443 17.7514 23.872 16.3874 22.8534 15.3818C21.8347 14.3761 20.4531 13.8112 19.0125 13.8112C17.5719 13.8112 16.1903 14.3761 15.1716 15.3818C14.153 16.3874 13.5807 17.7514 13.5807 19.1735C13.5807 20.5957 14.153 21.9597 15.1716 22.9653C16.1903 23.971 17.5719 24.5359 19.0125 24.5359C20.4531 24.5359 21.8347 23.971 22.8534 22.9653C23.872 21.9597 24.4443 20.5957 24.4443 19.1735ZM32.4562 32.4589C36.0219 28.9369 38.025 24.1611 38.025 19.1816C38.025 14.202 36.0219 9.4263 32.4562 5.90432C30.6912 4.16068 28.5954 2.77747 26.2887 1.83375C23.982 0.890035 21.5095 0.404297 19.0125 0.404297C16.5155 0.404297 14.043 0.890035 11.7363 1.83375C9.42957 2.77747 7.33381 4.16068 5.56878 5.90432C2.00305 9.4263 0 14.202 0 19.1816C0 24.1611 2.00305 28.9369 5.56878 32.4589L9.69967 36.478L15.2483 41.8001L15.6095 42.1165C17.7143 43.8003 20.7968 43.6931 22.7795 41.8001L29.3927 35.4457L32.4562 32.4589ZM7.48349 7.79456C8.99726 6.29947 10.7946 5.11347 12.7728 4.30429C14.7509 3.49512 16.8712 3.07864 19.0125 3.07864C21.1538 3.07864 23.2741 3.49512 25.2522 4.30429C27.2304 5.11347 29.0277 6.29947 30.5415 7.79456C33.5146 10.7317 35.2241 14.6888 35.3132 18.8401C35.4022 22.9915 33.864 27.0165 31.0195 30.0753L30.5415 30.5686L26.9538 34.0649L20.8973 39.8777L20.642 40.0922C20.1725 40.4415 19.6005 40.6305 19.0125 40.6305C18.4245 40.6305 17.8525 40.4415 17.383 40.0922L17.1304 39.8777L9.03699 32.0889L7.48349 30.5686L7.00549 30.078C4.16098 27.0192 2.62278 22.9942 2.71185 18.8428C2.80091 14.6914 4.51035 10.7317 7.48349 7.79456Z" fill="#323232"/>
          </svg>
          <p>
            2nd Floor, Unit 3, <br>
            59 Karuhatan Rd Valenzuela City
          </p>
        </div>
      </div>
      <div class='email-socials'>
        <h3 class='label'>Socials</h3>
        <a href='https://instagram.com/thegoodmilkph?igshid=MzRlODBiNWFlZA==' class='ig-icon icon-socials'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 39 39' fill='none'>
            <g clip-path="url(#clip0_77_4550)">
              <path d="M19.1406 13.3984C17.6177 13.3984 16.1571 14.0034 15.0802 15.0803C14.0034 16.1571 13.3984 17.6177 13.3984 19.1406C13.3984 20.6635 14.0034 22.124 15.0802 23.2009C16.1571 24.2778 17.6177 24.8828 19.1406 24.8828C20.6635 24.8828 22.124 24.2778 23.2009 23.2009C24.2778 22.124 24.8828 20.6635 24.8828 19.1406C24.8828 17.6177 24.2778 16.1571 23.2009 15.0803C22.124 14.0034 20.6635 13.3984 19.1406 13.3984ZM19.1406 9.57029C21.6788 9.57029 24.113 10.5786 25.9078 12.3734C27.7026 14.1681 28.7109 16.6024 28.7109 19.1406C28.7109 21.6788 27.7026 24.113 25.9078 25.9078C24.113 27.7026 21.6788 28.7109 19.1406 28.7109C16.6024 28.7109 14.1681 27.7026 12.3734 25.9078C10.5786 24.113 9.57029 21.6788 9.57029 19.1406C9.57029 16.6024 10.5786 14.1681 12.3734 12.3734C14.1681 10.5786 16.6024 9.57029 19.1406 9.57029ZM31.582 9.09178C31.582 9.72633 31.3299 10.3349 30.8812 10.7836C30.4325 11.2323 29.8239 11.4844 29.1894 11.4844C28.5548 11.4844 27.9463 11.2323 27.4976 10.7836C27.0489 10.3349 26.7968 9.72633 26.7968 9.09178C26.7968 8.45723 27.0489 7.84867 27.4976 7.39997C27.9463 6.95128 28.5548 6.6992 29.1894 6.6992C29.8239 6.6992 30.4325 6.95128 30.8812 7.39997C31.3299 7.84867 31.582 8.45723 31.582 9.09178ZM19.1406 3.82812C14.4052 3.82812 13.6319 3.84152 11.4288 3.93913C9.92822 4.00995 8.92142 4.21093 7.98736 4.5746C7.20569 4.86159 6.49902 5.32158 5.92018 5.92018C5.32109 6.49899 4.86047 7.20563 4.57268 7.98737C4.20901 8.92525 4.00804 9.93013 3.93913 11.4288C3.8396 13.542 3.8262 14.2808 3.8262 19.1406C3.8262 23.8779 3.8396 24.6492 3.93722 26.8523C4.00804 28.351 4.20901 29.3597 4.57077 30.2919C4.89616 31.1245 5.27897 31.7236 5.91444 32.3591C6.55948 33.0022 7.15858 33.3869 7.98162 33.7047C8.92717 34.0702 9.93396 34.2731 11.4269 34.342C13.54 34.4416 14.2789 34.453 19.1387 34.453C23.876 34.453 24.6473 34.4397 26.8504 34.342C28.3472 34.2712 29.354 34.0702 30.29 33.7085C31.0709 33.4201 31.7773 32.9603 32.3572 32.3629C33.0022 31.7198 33.3869 31.1207 33.7047 30.2957C34.0683 29.354 34.2712 28.3472 34.3401 26.8504C34.4396 24.7392 34.4511 23.9985 34.4511 19.1406C34.4511 14.4052 34.4377 13.6319 34.3401 11.4288C34.2693 9.93205 34.0664 8.92143 33.7047 7.98737C33.4161 7.20646 32.9563 6.50011 32.3591 5.92018C31.7805 5.32079 31.0738 4.86011 30.2919 4.57269C29.354 4.20901 28.3472 4.00804 26.8504 3.93913C24.7392 3.8396 24.0023 3.82812 19.1406 3.82812ZM19.1406 0C24.3411 0 24.9899 0.0191405 27.0322 0.114843C29.0688 0.210546 30.4584 0.530194 31.6777 1.00488C32.9409 1.49105 34.0052 2.14949 35.0694 3.21179C36.0427 4.16862 36.7958 5.32604 37.2763 6.6035C37.7491 7.82276 38.0706 9.21236 38.1663 11.2508C38.2563 13.2912 38.2812 13.9401 38.2812 19.1406C38.2812 24.3411 38.262 24.9899 38.1663 27.0303C38.0706 29.0688 37.7491 30.4565 37.2763 31.6777C36.7971 32.9558 36.0438 34.1135 35.0694 35.0694C34.1123 36.0423 32.9549 36.7954 31.6777 37.2763C30.4584 37.7491 29.0688 38.0706 27.0322 38.1663C24.9899 38.2563 24.3411 38.2812 19.1406 38.2812C13.9401 38.2812 13.2912 38.262 11.2489 38.1663C9.21236 38.0706 7.82467 37.7491 6.6035 37.2763C5.32553 36.7968 4.16791 36.0435 3.21179 35.0694C2.23836 34.1127 1.48523 32.9552 1.00488 31.6777C0.530194 30.4584 0.210547 29.0688 0.114844 27.0303C0.022969 24.9899 0 24.3411 0 19.1406C0 13.9401 0.0191409 13.2912 0.114844 11.2508C0.210547 9.21045 0.530194 7.82467 1.00488 6.6035C1.48385 5.32525 2.23716 4.16752 3.21179 3.21179C4.16819 2.23798 5.32573 1.48479 6.6035 1.00488C7.82276 0.530194 9.21045 0.210546 11.2489 0.114843C13.2912 0.0248827 13.9401 0 19.1406 0Z" fill="#323232"/>
            </g>
            <defs>
              <clipPath id="clip0_77_4550">
                <rect width="39" height="39" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <p>@thegoodmilkph</p>
        </a>
        <a href='https://www.facebook.com/profile.php?id=61551715617731&mibextid=LQQJ4d' class='fb-icon icon-socials'>
          <svg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 39 39' fill='none'>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.6298 38.3134V23.489H31.6064L32.3509 17.7124H26.6279V14.024C26.6279 12.3511 27.093 11.2103 29.4933 11.2103H32.5519V6.04237C31.0706 5.88473 29.5818 5.80806 28.0922 5.81268C23.6822 5.81268 20.6637 8.50576 20.6637 13.4498V17.7124H15.6718V23.489H20.6618V38.3134H2.4725C1.30492 38.3134 0.359375 37.3678 0.359375 36.2003V2.14535C0.359375 0.977772 1.30492 0.0322266 2.4725 0.0322266H36.5274C37.695 0.0322266 38.6405 0.977772 38.6405 2.14535V36.2003C38.6405 37.3678 37.695 38.3134 36.5274 38.3134H26.6298Z" fill="#323232"/>
          </svg>
          <p>The Good Milk</p>
        </a>
        <a href='https://www.tiktok.com/@thegoodmilkph?_t=8g2TLSLXOjp&_r=1' class='tiktok-icon icon-socials'>
          <svg xmlns='http://www.w3.org/2000/svg' width='31' height='36' viewBox='0 0 31 36' fill='none'>
            <g clip-path="url(#clip0_77_4552)">
              <path d="M23.8109 5.46014C22.5025 3.96646 21.7814 2.04821 21.782 0.0625H15.8675V23.7968C15.8219 25.0812 15.2797 26.2978 14.355 27.1903C13.4303 28.0829 12.1953 28.5818 10.9101 28.582C8.19217 28.582 5.93358 26.3617 5.93358 23.6054C5.93358 20.3132 9.11091 17.8441 12.384 18.8586V12.8101C5.78045 11.9297 0 17.0593 0 23.6054C0 29.9792 5.2828 34.5155 10.891 34.5155C16.9011 34.5155 21.782 29.6347 21.782 23.6054V11.566C24.1803 13.2884 27.0597 14.2125 30.0124 14.2074V8.29295C30.0124 8.29295 26.414 8.46522 23.8109 5.46014Z" fill="#323232"/>
            </g>
            <defs>
              <clipPath id="clip0_77_4552">
                <rect width="30.75" height="35.25" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <p>Tiktok</p>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
