{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "presets": [
    {
      "name": "Hero Section",
      "category": "layout"
    }
  ]
}
{% endschema %}
<link rel='stylesheet' href='{{ 'hero-section.css' | asset_url }}'>
<section class='background'>
  <div class='bottle-container'>
    <div class='img-bottle'>
      <img src='{{'Fresh Milk Bottle.png' | asset_url}}' class='bottle responsive center-bottle'>
      <div class='prices'>
        <img src='{{'FM.png' | asset_url}}' class='price'>
        <a href='/collections/all' class='fm-button'><img src='{{'FM_button.png' | asset_url}}' class='button-fm'></a>
      </div>
    </div>
  </div>
</section>
<script src='{{ 'hero-section.js' | asset_url }}'></script>
