{% schema %}
{
  "name": "Product Showcase",
  "settings": [],
  "presets": [
    {
      "name": "Product Showcase",
      "category": "layout"
    }
  ]
}
{% endschema %}

<link rel='stylesheet' href='{{ 'product-showcase.css' | asset_url }}'>
<div class='parent'>
  <section class='parent-grid'>
    <div class='flex-milk freshmilk'>
      <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
      <div class='description-product'>
        <h3 class='fm-details'>Smooth, velvety, and naturally sweet FRESH MILK, a cult classic.</h3>
        <product-form>
          <form
            method='post'
            action='/cart/add'
            id='quick-add-template--20635886092591__product-grid8841119891759'
            accept-charset='UTF-8'
            class='form'
            enctype='multipart/form-data'
            novalidate='novalidate'
            data-type='add-to-cart-form'
          >
            <input type='hidden' name='form_type' value='product'>
            <input type='hidden' name='utf8' value='✓'>
            <input type='hidden' name='id' value='47000953913630'>
            <button
              id='quick-add-template--20635886092591__product-grid8841119891759-submit'
              type='submit'
              name='add'
              class='quick-add__submit button button--full-width button--secondary add-to-cart'
              aria-haspopup='dialog'
              aria-labelledby='quick-add-template--20635886092591__product-grid8841119891759-submit title-template--20635886092591__product-grid-8841119891759'
              aria-live='polite'
              data-sold-out-message='true'
            >
              <span>Add to cart </span>
              <span class='sold-out-message hidden'> Sold out </span>
              <div class='loading-overlay__spinner hidden'>
                <svg
                  aria-hidden='true'
                  focusable='false'
                  class='spinner'
                  viewBox='0 0 66 66'
                  xmlns='http://www.w3.org/2000/svg'
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </form>
        </product-form>
      </div>
    </div>
    <div class='flex-milk chocolate'>
      <img src='{{ 'chocolate.png' | asset_url }}'>
      <div class='description-product'>
        <h3 class='fm-details'>
          Delicate and creamy with notes of rich cocoa, our signature CHOCOLATE paired beautifully with our whole milk.
        </h3>
        <product-form>
          <form
            method='post'
            action='/cart/add'
            id='quick-add-template--20635886092591__product-grid8841119891759'
            accept-charset='UTF-8'
            class='form'
            enctype='multipart/form-data'
            novalidate='novalidate'
            data-type='add-to-cart-form'
          >
            <input type='hidden' name='form_type' value='product'>
            <input type='hidden' name='utf8' value='✓'>
            <input type='hidden' name='id' value='47000953913630'>
            <button
              id='quick-add-template--20635886092591__product-grid8841119891759-submit'
              type='submit'
              name='add'
              class='quick-add__submit button button--full-width button--secondary add-to-cart'
              aria-haspopup='dialog'
              aria-labelledby='quick-add-template--20635886092591__product-grid8841119891759-submit title-template--20635886092591__product-grid-8841119891759'
              aria-live='polite'
              data-sold-out-message='true'
            >
              <span>Add to cart </span>
              <span class='sold-out-message hidden'> Sold out </span>
              <div class='loading-overlay__spinner hidden'>
                <svg
                  aria-hidden='true'
                  focusable='false'
                  class='spinner'
                  viewBox='0 0 66 66'
                  xmlns='http://www.w3.org/2000/svg'
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </form>
        </product-form>
      </div>
    </div>
    <div class='flex-milk strawberry'>
      <img src='{{ 'strawberry.png' | asset_url }}'>
      <div class='description-product'>
        <h3 class='fm-details'>Juicy, sun-kissed, freshly-picked STRAWBERRY combined with our farm-fresh milk.</h3>
        <product-form>
          <form
            method='post'
            action='/cart/add'
            id='quick-add-template--20635886092591__product-grid8841119891759'
            accept-charset='UTF-8'
            class='form'
            enctype='multipart/form-data'
            novalidate='novalidate'
            data-type='add-to-cart-form'
          >
            <input type='hidden' name='form_type' value='product'>
            <input type='hidden' name='utf8' value='✓'>
            <input type='hidden' name='id' value='47000953913630'>
            <button
              id='quick-add-template--20635886092591__product-grid8841119891759-submit'
              type='submit'
              name='add'
              class='quick-add__submit button button--full-width button--secondary add-to-cart'
              aria-haspopup='dialog'
              aria-labelledby='quick-add-template--20635886092591__product-grid8841119891759-submit title-template--20635886092591__product-grid-8841119891759'
              aria-live='polite'
              data-sold-out-message='true'
            >
              <span>Add to cart </span>
              <span class='sold-out-message hidden'> Sold out </span>
              <div class='loading-overlay__spinner hidden'>
                <svg
                  aria-hidden='true'
                  focusable='false'
                  class='spinner'
                  viewBox='0 0 66 66'
                  xmlns='http://www.w3.org/2000/svg'
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </form>
        </product-form>
      </div>
    </div>
    <div class='flex-milk pandan'>
      <img src='{{ 'pandan.png' | asset_url }}'>
      <div class='description-product'>
        <h3 class='fm-details'>
          Fragrant essence of PANDAN leaves mixed with pure cow's milk for that instant, tropical, and timeless delight.
        </h3>
        <product-form>
          <form
            method='post'
            action='/cart/add'
            id='quick-add-template--20635886092591__product-grid8841119891759'
            accept-charset='UTF-8'
            class='form'
            enctype='multipart/form-data'
            novalidate='novalidate'
            data-type='add-to-cart-form'
          >
            <input type='hidden' name='form_type' value='product'>
            <input type='hidden' name='utf8' value='✓'>
            <input type='hidden' name='id' value='47000953913630'>
            <button
              id='quick-add-template--20635886092591__product-grid8841119891759-submit'
              type='submit'
              name='add'
              class='quick-add__submit button button--full-width button--secondary add-to-cart'
              aria-haspopup='dialog'
              aria-labelledby='quick-add-template--20635886092591__product-grid8841119891759-submit title-template--20635886092591__product-grid-8841119891759'
              aria-live='polite'
              data-sold-out-message='true'
            >
              <span>Add to cart </span>
              <span class='sold-out-message hidden'> Sold out </span>
              <div class='loading-overlay__spinner hidden'>
                <svg
                  aria-hidden='true'
                  focusable='false'
                  class='spinner'
                  viewBox='0 0 66 66'
                  xmlns='http://www.w3.org/2000/svg'
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </form>
        </product-form>
      </div>
    </div>
  </section>
</div>
