{% schema %}
{
  "name": "Product Showcase",
  "settings": [],
  "presets": [
    {
      "name": "Product Showcase",
      "category": "layout"
    }
  ]
}
{% endschema %}

<link rel='stylesheet' href='{{ 'product-showcase.css' | asset_url }}'>
<section class='parent-grid'>
  <div class='grid-milk'>
    <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
  </div>
  <div class='grid-milk'>
    <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
  </div>
  <div class='grid-milk'>
    <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
  </div>
  <div class='grid-milk'>
    <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
  </div>
</section>
