{% schema %}
{
  "name": "Product Showcase",
  "settings": [],
  "presets": [
    {
      "name": "Product Showcase",
      "category": "layout"
    }
  ]
}
{% endschema %}

<link rel='stylesheet' href='{{ 'product-showcase.css' | asset_url }}'>
<div class='parent'>
  <section class='parent-grid'>
    <div class='grid-milk freshmilk'>
      <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
      <h3>
        Lorem ipsum dolor sit amet consectetur.
        <span>FRESH MILK</span>
        aliquam lectus scelerisque pretium purus.
      </h3>
      <a href='/'>LEARN MORE</a>
    </div>
    <div class='grid-milk chocolate'>
      <img src='{{ 'chocolate.png' | asset_url }}'>
      <h3>
        Lorem ipsum dolor sit amet consectetur.
        <span>FRESH MILK</span>
        aliquam lectus scelerisque pretium purus.
      </h3>
      <a href='/'>LEARN MORE</a>
    </div>
    <div class='grid-milk pandan'>
      <img src='{{ 'pandan.png' | asset_url }}'>
      <h3>
        Lorem ipsum dolor sit amet consectetur.
        <span>FRESH MILK</span>
        aliquam lectus scelerisque pretium purus.
      </h3>
      <a href='/'>LEARN MORE</a>
    </div>
    <div class='grid-milk strawberry'>
      <img src='{{ 'strawberry.png' | asset_url }}'>
      <h3>
        Lorem ipsum dolor sit amet consectetur.
        <span>FRESH MILK</span>
        aliquam lectus scelerisque pretium purus.
      </h3>
      <a href='/'>LEARN MORE</a>
    </div>
  </section>
</div>
