{% schema %}
{
  "name": "UPS",
  "settings": [],
  "presets": [
    {
      "name": "UPS",
      "category": "layout"
    }
  ]
}
{% endschema %}
<link rel='stylesheet' href='{{ 'proposition.css' | asset_url }}'>
<Section class='proposition1'>
  <div class='milk-match'>
    <img src='{{ 'milk-match.png' | asset_url }}'>
    <h2>Manila, meet your milk match!</h2>
    <p>
      Try this, that, there, this again, and the list can go on. There are always brands that claim to be the best out
      there, but the truth is no milk is better than the other.

      <br>
      <br>
      Hear, here! We're not just the good milk, we do real good for the community. But hey, don't just take our word for
      it.
    </p>
  </div>
  <div class='proposition'>
    <div class='premium flex'>
      <img src='{{ 'Premium Fresh Quality.png' | asset_url }}'>
      <h2>Premium Fresh Quality</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Id dignissim lectus in in rhoncus adipiscing ultricies hendrerit.</p>
    </div>
    <div class='local flex'>
      <img src='{{ 'Locally Produced.png' | asset_url }}'>
      <h2>Locally Produced</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Id dignissim lectus in in rhoncus adipiscing ultricies hendrerit.</p>
    </div>
    <div class='organic flex'>
      <img src='{{ 'Organic.png' | asset_url }}'>
      <h2>100% Organic</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Id dignissim lectus in in rhoncus adipiscing ultricies hendrerit.</p>
    </div>
  </div>
</Section>
